.App {
  text-align: left;
}

.App-logo {
  max-height: 150px;
}

.App-header {
  background-color: #037b96;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Body {
  margin: 40px;
}

.Bios {
  display: flex;
  flex-wrap: wrap;
}

.Bio {
  width: 50%;
}

.photo {
  max-width: 200px;
}
